@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
    body {
        @apply font-body text-[#232428]
    }

}


@layer components {

    /* Dropdown Button */

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        /* position: relative; */
        @apply relative;
        /* display: inline-block; */
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        @apply -bottom-4 flex md:flex bg-slate-700 rounded-3xl border-red-300 border-2;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        @apply text-white px-4 xl:px-8 py-5 no-underline rounded-3xl flex;
    }

    .dropdown-content a {
        @apply hover:bg-red-900
    }


    .headerLink {
        @apply cursor-pointer opacity-75 transition hover:opacity-100;
    }

    .headerIcon {
        @apply h-6 w-6 cursor-pointer opacity-75 transition hover:opacity-100;
    }

    .link {
        @apply relative cursor-pointer text-lg font-semibold before:absolute before:inset-x-0 before:-bottom-1.5 transition-all duration-500 before:content-[''] before:absolute before:-bottom-2 before:left-1/2 before:-translate-x-1/2 before:w-0 before:h-1.5 before:rounded-full before:opacity-0 before:transition-all before:duration-500 before:bg-gradient-to-r before:from-black before:via-red-900 before:to-red-600 hover:before:w-full hover:before:opacity-100;
    }

    .borderGradient {
        text-align: center;
        padding-bottom: 5px;
        background: linear-gradient(to right, rgb(204, 78, 5), rgb(90, 0, 0)) left bottom no-repeat;
        background-size: 100% 2px;
    }

    .tabPanel {
        @apply grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3;
    }

}